%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    = image_tag('logo.png', style: 'width: 5%; height: auto;')
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to "Home", root_path, class: "nav-link"
        %li.nav-item
          = link_to image_tag('en.svg', style: 'width: 1.5%; height: auto;'), locale: :en
        %li.nav-item
          = link_to image_tag('ua.svg', style: 'width: 1.5%; height: auto;'), locale: :ua